<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Debt Tracker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--<link rel="stylesheet" href="css/main.css">-->
    </head>
    <body>
        <h2>{{printf "%s" .Ower}} owes {{printf "%v" .OwedAmount}}</h2>

        <form action="/" method="POST">
            <label for="person">Add debt for</label>
            <select name="person">
                <option value="ben">Ben</option>
                <option value="mitchell">Mitchell</option>
            </select>

            <label for="amount">Amount</label>
            <input type="text" name="amount">
            <br/>
            <label for="notes">Notes</label>
            <br/>
            <textarea cols="40" rows="4" name="notes"></textarea>
            <input type="submit" value="Submit">
        </form>

        <h3>Debts</h3>
        <ul>
            {{ range $debitem := .DebtStore }}
                <li>{{ $debitem }}</li>
            {{ end }}

        </ul>
    </body>
</html>
