<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Debt Tracker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--<link rel="stylesheet" href="css/main.css">-->
    </head>
    <body>
        <ul>
            {{ range $user := .Users }}
                <li>{{ $user }} : {{ $user.Balance }}</li>
            {{ end }}
        </ul>

        <form action="/" method="POST">
            <label for="debtor">Debtor</label>
            <select name="debtor">
                {{ range $user := .Users }}
                    <option value="{{$user.Name}}">{{$user.Name}}</option>
                {{end}}
            </select>
            <label for="creditor">Creditor</label>
            <select name="creditor">
                {{ range $user := .Users }}
                    <option value="{{$user.Name}}">{{$user.Name}}</option>
                {{end}}
            </select>

            <label for="amount">Amount</label>
            <input type="text" name="amount">
            <br/>
            <label for="notes">Notes</label>
            <br/>
            <textarea cols="40" rows="4" name="notes"></textarea>
            <input type="submit" value="Submit">
        </form>

        <h3>Debts</h3>
        <table cellpadding="5">
            <tr>
                <th align="left">Debtor</th>
                <th align="left">Creditor</th>
                <th align="left">Amount</th>
                <th align="left">Date</th>
                <th align="left">Note</th>
            </tr>
            {{ range $debitem := .DebtStore }}
                <tr>
                    <td>{{ $debitem.Debtor }}</td>
                    <td>{{ $debitem.Creditor }}</td>
                    <td>{{ $debitem.Amount }}</td>
                    <td>{{ $debitem.Creation }}</td>
                    <td>{{ $debitem.Note }}</td>
                </tr>
            {{ end }}

        </table>
    </body>
</html>
